.event{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

/* .WhenContainer{
    border: 2px solid rgb(20, 221, 47);
} */



@media screen and (max-width:667px) {
    .WhenContainer{
        /* border: 2px solid rgb(20, 221, 47); */
        flex-direction: column;
    }
    .event{
        height: 20vh;
        box-shadow: none;
    }
    
}